# Use this file to store sensitive information like WiFi credentials.
# Copy this file to `secrets.yaml` and update the values.

# wifi_ssid: "YOUR_WIFI_SSID"
# wifi_password: "YOUR_WIFI_PASSWORD"

# You can also use this for Home Assistant API encryption keys and OTA passwords.
# encryption_key: "YOUR_ENCRYPTION_KEY"
# ota_password: "YOUR_OTA_PASSWORD"
